
:root {
  --themeColor: teal;
}





* {
  font-family: 'Open Sans';
}


.form1_email, .form1_password, .form2_name, .form2_email, .form2_password, .form2_password_cnfrm {
  width: 100%;
  border: 0;
  text-align: center;
  outline: none;
  border-bottom: 2px solid var(--themeColor);
  color: var(--themeColor)
}
.form1_email:focus, .form1_password:focus, .form2_name:focus, .form2_email:focus, .form2_password:focus, .form2_password_cnfrm:focus {
  animation: 1s linear ease;
  border-bottom: 2px solid black;
}
.avatar {
  cursor: "pointer";
  border: 2px solid var(--themeColor)
}
.popover-header {
  color: var(--themeColor);
  font-weight: "bolder";
}
.blogs {
  animation:fade 1s ease-in;
  overflow: hidden;
  
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fixed {
  position: fixed !important;
  top : 0;
}
@media screen and (min-width:900px) {

  .blogg {
    opacity: 0;
    transform: translateX(250px);
     transition: 250ms;
     
   }
   .blogg.show{
     transform: translateX(0);
     opacity: 1;
   }
}
@media screen and (max-width:900px) {

  .blogg {
    opacity: 0;
     transition: 250ms;
     
   }
   .blogg.show{
     opacity: 1;
   }
}

.bigCard {
  box-shadow: 3px 2px 7px 0px rgba(155, 155, 155, 0.5);
}


